@import url('nav.css');
@import url('project.css');

* {
    font-family: "Ubuntu";
}

section {
    padding-top: 20px;
}

#about {
    padding-top: 80px;
}

.text {
    width: 800px;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    background-color: #64c957;
}

