@import url('nav.css');
@import url('project.css');

* {
    font-family: "Ubuntu";
}

section {
    padding-top: 20px;
}

#about {
    padding-top: 80px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
